

.footer-container{
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-container img{
    height: 2.5rem;
    margin: 1rem;
}

.footer-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color:#495E57;
    font-weight: bold;
    font-family: Markazi;
}

.footer-container a{
    display: flex;
    align-items: center;
    margin: 1rem;
    color: #495E57;
}

