.home-container{
    width: 100%;
    text-align: center;
    font-family: Markazi;
}

h1{
    text-transform: uppercase;
    font-size: 2.3rem;
}
h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0;
}

button{
    text-transform: uppercase;
}

p{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

img{
    width: 50vw;
}
.pages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book-online{
    background-color: #fefbea;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu{
    display: flex;
    color: white;
    background-color: black;
    flex-direction: column;
    justify-content: center;
}
button{
    padding: 1rem;
    background-color: #F4CE14;
    border: #efcd0b 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.food-imageone{
    background-color: black;
}