.home-container{
    text-align: center;
    font-family: Markazi;
}

.home-container h1{
    text-transform: uppercase;
    font-size: 2.3rem;
}
.home-container h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}


.home-container p{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.home-container img{
    width: 50vw;
}
.pages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d";
}



.book-online{
    background-color: #fefbea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #495E57;
    grid-area: a;
}

.menu{
    display: flex;
    color: white;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    grid-area: d;
}
.home-container a{
    padding: 1rem;
    background-color: #F4CE14;
    border: .2rem solid #ddbd0b;
    color: #fefbea;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
    display: inline-block;
    margin: 0 auto 1.25rem;
}
.home-container a:hover{
    background-color: #fdf6d2;
    color: #495E57;
    border:.2rem solid #F4CE14;
}
.food-imageone{
    background-color: black;
    grid-area: b;
}

.food-imagetwo{
    grid-area: c;
}
.home-container hr{
    width: 90%;
}


@media (max-width: 800px){
    .pages{
      grid-template-columns: 100%;
      padding: 1.5rem;
      background-color: #fefbea;
      grid-template-areas:
      "a"
      "b"
      "d"
      "c";
    }
    .menu{
        background-color: #fefbea;
        color:#495E57;
    }
    a{
        margin-bottom: 1.5rem;
    }
   .food-imageone{
    background-color: #fefbea;
    margin-bottom: 1rem;
   }
   .food-imagetwo{
    background-color: #fefbea;
   }
    }


