.App {
  height: 100%;
  width: 100%;
  background-color: white;
}

.logo {
  height: 70px;
  width: 250px;
  margin-left: .5rem;
  margin-top: .15rem;
}

/*navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
}
nav li {
  list-style-type: none;
}
nav ul{
  display: flex;
}
nav ul li a{
  list-style: none;
  display: block;
  text-decoration: none;
  color:#495E57;
  padding: 0.5rem;
  margin:0 0.5rem;
  border-radius: 0.5rem;
}

.active {
  background-color: #F4CE14;
}

nav ul li a:not(.active):hover{
  background-color: #fdf6d2;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  margin: .55rem;
}

nav .menu span {
  height: .4rem;
  width: 100%;
  background-color: #495E57;
  border-radius: 0.2rem;

}

@media (max-width: 590px) {
  nav .menu {
    display: flex;
  }
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: .25rem;
  }
  nav ul.open {
    display: flex;
  }

  nav ul li{
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin-right: 5rem;
    margin-bottom: .25rem;
  }
}

/* Header */

.header-container{
  background-color: #495E57;
  padding: 5px;
  margin-left: 0px;
  width: 100%;
}
.header-container h1{
  color: #F4CE14;
  font-family: Markazi;
  font-size: 64px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.header-container h2 {
  color: white;
  font-family: Markazi;
  font-size: 40px;
  margin-top: 0px;
  margin-left: 5px;
}

.header-container p {
    color: white;
    font-family: Markazi;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
  }


  /*form*/
.booking-container{
 background-color: #fefbea;
 margin: 2.5rem;
 box-shadow: rgba(0, 0, 0, .1);
 display: grid;
 grid-template-columns: 45% 55%;
}

.time-container{
  background-color: #495E57;
  padding: 4.5rem;
  outline: .2rem dashed #F4CE14;
  outline-offset: -2rem;
  text-align: center;

}

.time-container h2{
  font-size: 2.3rem;
  text-transform: uppercase;
  color: white;
}

.time-container h3{
  font-size: 1.85rem;
  color:#F4CE14;
}

.time-container p{
  font-size: 1.3rem;
  color: white;
}

.time-container h4{
  color: white;
  font-size: 1.35rem;
}

.booking-container form {
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-row-gap: .7rem;
}
.booking-container label{
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: 550%;
}
.form-field{
  display: flex;
  justify-content: space-between;
}

.booking-container input, select{
  margin: 1.25rem .625rem 1.25rem 0rem;
}

.submit-button{
  background-color: #F4CE14;
  color: white;
  padding: .625rem 1.25rem;
  border: none;
  font-size: 1.56rem;
  font-weight: 600;
  border-radius: 100rem;
  box-shadow: .5rem .65rem .75rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: all .3s;
}

.submit-button:hover{
  transform: scale(1.03);
  box-shadow: .65rem .75rem 1rem rgba(0, 0, 0, .3);

}

@media (max-width: 680px){
  .booking-container{
    grid-template-columns: 100%;
  }
}

/*confirmation page */
.confirmation-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.confirmation-img{
  width: 40vw;
  height: 55vh;
  border-radius: 10px;
  margin-top: 10px;

}


.home-button{
  background-color: #F4CE14;
  color: white;
  padding: .625rem 1.25rem;
  border: none;
  font-size: 1.56rem;
  font-weight: 600;
  border-radius: 100rem;
  box-shadow: .5rem .65rem .75rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: all .3s;
}

.home-button:hover{
  transform: scale(1.03);
  box-shadow: .65rem .75rem 1rem rgba(0, 0, 0, .3);

}
h3 {
  font-size: 300%;
  font-family: Markazi;
}

.image-background {
  background-color:#F4CE14
}

